# Local VM is created with Multipass (not Timeweb Cloud).

server_name = "flowboard-lab-vm"

# Adjust local VM size if needed.
cpu     = 2
ram_mb  = 2048
disk_mb = 20480

# Local VM SSH settings.
ssh_user            = "ubuntu"
# On Windows use full path, for example: C:/Users/<you>/.ssh/id_ed25519.pub
ssh_public_key_path = "C:/Users/<you>/.ssh/id_ed25519.pub"

# Explicit path makes Terraform independent from PATH environment.
multipass_executable = "C:/Program Files/Multipass/bin/multipass.exe"

# Multipass backend driver. Use:
# - "hyperv" if Hyper-V is installed,
# - "virtualbox" if using Oracle VirtualBox backend,
# - "auto" to keep current Multipass setting.
multipass_driver = "auto"
